<!-- Without prime ng to check if dark theme is applied or not -->
<!-- <div class="flex bg-blue-900 justify-evenly items-center h-8">
    <h1>App Name</h1>
    <button
      rounded="true"
      [title]="
        themeService.currentTheme() === 'light' ? 'Dark Mode' : 'Light Mode'
      "
      severity="info"
      (click)="themeService.toggleTheme()"
    >
      <span class="material-icons">
        @if(themeService.currentTheme() === 'light')
        { dark_mode } 
        @else {
        light_mode }
      </span>
    </button>
  </div> -->
<!-- Ends here -->
<header>
  <p-toolbar class="">
    <ng-template #start>
      <button
        pButton
        class="mr-2"
        text
        severity="primary"
        (click)="notificationPanelVisible.set(true)"
      >
        <span class="material-icons"> menu </span>
      </button>

      <button
        icon="pi pi-plus"
        routerLink=""
        class="mr-2 bg-red-400 p-2 rounded-md"
      >
        Home
      </button>
    </ng-template>

    <ng-template #center>
      <input
        pInputText
        id="over_label"
        autocomplete="off"
        placeholder="Search"
      />
    </ng-template>

    <ng-template #end>
      <p-button
        rounded="true"
        [title]="
          themeService.currentTheme() === 'light' ? 'Dark Mode' : 'Light Mode'
        "
        [text]="true"
        severity="info"
        (onClick)="themeService.toggleTheme()"
      >
        <span class="material-icons">
          @if(themeService.currentTheme() === 'light') { dark_mode } @else {
          light_mode }
        </span>
      </p-button>
      @if(authService.getUserFromSignal !== null) {
      <div class="flex gap-3 cursor-pointer" (click)="openUser()">
        <p-avatar
          [image]="authService.getUserFromSignal.imageUrl"
          class="mr-2"
          size="large"
          shape="circle"
        />
      </div>
      <button pButton (click)="onSignOut()" severity="danger">Logout</button>
      } @else {
      <button pButton (click)="openSignIn()">Login</button>
      }
    </ng-template>
  </p-toolbar>
</header>
