<div class="card p-5 m-1">
  <button (click)="getAllUsers()">Get users</button>
</div>

<div class="h-[100%]">
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button label="New" icon="search" class="mr-2" />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        [disabled]="true"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    class="test-data"
    #dt
    [value]="products()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[
      'title',
      'category',
      'price',
      'stock',
      'discountPercentage',
      'description',
      'rating',
      'brand'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0 text-2xl font-bold">Manage Products</h5>
        <p-iconfield>
          <!-- <p-inputicon styleClass="pi pi-search" /> -->
          <span class="material-icons">search</span>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>

    <ng-template #header>
      <tr class="bg-amber-600 text-xl">
        <!-- <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th> -->
        @for(col of cols; track $index) {
        <th [pSortableColumn]="col.id" style="min-width: 16rem">
          {{ col.name }}
          <p-sortIcon #ref [field]="col.id"> </p-sortIcon>
        </th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-product>
      <tr>
        <!-- <td style="width: 3rem">
                    <p-tableCheckbox [value]="product" />
                </td> -->
        <td style="min-width: 12rem">{{ product.title }}</td>
        <td style="min-width: 16rem">{{ product.category }}</td>
        <td style="min-width: 16rem">{{ product.price }}</td>
        <td style="min-width: 16rem">{{ product.stock }}</td>
        <td style="min-width: 16rem">{{ product.discountPercentage }}</td>
        <td style="min-width: 16rem">{{ product.description }}</td>
        <td style="min-width: 16rem">{{ product.rating }}</td>
        <td style="min-width: 16rem">{{ product.brand }}</td>
        <!-- <td style="min-width: 16rem">{{ product.thumbnail }}</td> -->
        <!-- <td>
                    <img [src]="product.images[0]" [alt]="product.title" style="width: 64px" class="rounded" />
                </td> -->
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are {{ products() ? products().length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
