<!-- <header>
    <div class="bg-blue-400 h-10 sticky">
        My Header
    </div>
</header> -->
<app-header></app-header>

<main>
  <app-sidebar
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
  >
  </app-sidebar>

  <app-home
    [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    [screenWidth]="screenWidth()"
  ></app-home>
</main>

<!-- Footer -->
<!-- <footer class="bg-gray-800 text-white py-4 text-center">
  <p>&copy; 2025 My Website. All rights reserved.</p>
</footer> -->
