<!-- <div class="card flex justify-center">
  <p-drawer
    [visible]="visible()"
    (onHide)="closeSidebar()"
    ariaCloseLabel="Close Sidebar"
    header="Sidebar Menu"
    position="left"
    [fullScreen]="false"
    closeOnEscape="true"
  >
    <ng-template #closeicon>
      <span class="material-icons"> cancel </span>
    </ng-template>

    <div class="m-2 p-3 bg-red-500 hover:scale-x-105 cursor-pointer rounded-sm">
      <a href="table">Table</a>
    </div>
    <div class="m-2 p-3 bg-blue-500 hover:scale-x-105 cursor-pointer rounded-sm">
        <a href="form">Form </a>
    </div>
    <div class="m-2 p-3 bg-amber-500 hover:scale-x-105 cursor-pointer rounded-sm">
        <a href="dialog">Dialog</a>
    </div>
    <div class="m-2 p-3 bg-orange-400 hover:scale-x-105 cursor-pointer rounded-sm">
        <a href="tree">Tree</a>
    </div>
    <div class="m-2 p-3 bg-lime-600 hover:scale-x-105 cursor-pointer rounded-sm">
        <a href="chart">Chart</a>
    </div>
  </p-drawer>
</div> -->

<!-- Without using prime ng components -->
<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''"
>
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <span class="material-icons text-[#F19E39]">menu</span>
    </button>

    @if(isLeftSidebarCollapsed() === false) {
    <div class="logo-text">My App</div>

    <button class="btn-close" (click)="closeSidenav()">
      <span class="material-icons text-[#f72626]">close</span>
    </button>
    }
  </div>

  <div class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="">
        @if(isLeftSidebarCollapsed() === false) {
        <span class="sidenav-link-text">Home</span>
        }
        <span class="material-icons sidenav-link-icon">home</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="showcase/my-table">
        @if(isLeftSidebarCollapsed() === false) {
        <span class="sidenav-link-text">Table</span>
        }
        <span class="material-icons sidenav-link-icon">table_chart</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="showcase/my-chart">
        @if(isLeftSidebarCollapsed() === false) {
        <span class="sidenav-link-text">Chart</span>
        }
        <span class="material-icons sidenav-link-icon">show_chart</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="showcase/custom-splitter">
        @if(isLeftSidebarCollapsed() === false) {
        <span class="sidenav-link-text">Custom Splitter</span>
        }
        <span class="material-icons sidenav-link-icon">vertical_split</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" routerLink="">
        @if(isLeftSidebarCollapsed() === false) {
        <span class="sidenav-link-text">Others</span>
        }
        <span class="material-icons sidenav-link-icon">dynamic_feed</span>
      </a>
    </li>
    <!-- <p-panelMenu [model]="items"></p-panelMenu> -->

    <div class="bottom-0 fixed">
      <hr class="h-px my-8 bg-gray-200 border-0">
      <p-button
        rounded="true"
        [title]="
          themeService.currentTheme() === 'light' ? 'Dark Mode' : 'Light Mode'
        "
        [text]="true"
        severity="info"
        (onClick)="themeService.toggleTheme()"
      >
        <span class="material-icons">
          @if(themeService.currentTheme() === 'light') { dark_mode } @else {
          light_mode }
        </span>
      </p-button>
    </div>
  </div>
</div>
