/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

// Override default variables of prime ng using design tokens

.custom-primeng {
  --p-button-border-radius: 8px; // Rounded borders
  --p-button-rounded-border-radius: 50%; // Fully rounded buttons
  --p-button-gap: 12px; // Adjust gap between icon and text
  --p-button-padding-x: 16px; // Adjust horizontal padding
  --p-button-padding-y: 8px; // Adjust vertical padding
  --p-button-primary-background: #ad1414;

  --p-zinc-900: red;
  --p-drawer-background: red; /* Your desired background color */

  --p-tooltip-background: #777777;
  --p-tooltip-color: #e7e4e4;
  --p-tooltip-max-width: 480px; /* Set a specific width for this tooltip */
  --p-tooltip-shadow : green;
  --p-tooltip-padding :10px;
}